<h1>Votre panier</h1>

{% for item in cart %}
    <div style="margin-bottom: 20px;">
        <img src="{{ asset('uploads/images/' ~ item.product.image) }}" alt="" width="100">
        <p>{{ item.product.name }}</p>
        <p>Taille : {{ item.size }}</p>
        <p>Quantité : {{ item.quantity }}</p>

<a href="{{ path('app_cart_remove', { id: item.product.id, size: item.size }) }}">
    Supprimer du panier
</a>

    </div>

    <form method="POST" action="{{ path('app_checkout') }}">
    <button type="submit">Payer avec Stripe</button>
</form>

{% else %}
    <p>Votre panier est vide.</p>
{% endfor %}
