{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<h1>Connexion</h1>

{% if error %}
    <div class="alert alert-danger">
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
{% endif %}

{% if app.user %}
    <div class="mb-3">
        Vous êtes déjà connecté(e) en tant que {{ app.user.userIdentifier }},
        <a href="{{ path('app_logout') }}">déconnexion</a>
    </div>
{% endif %}

<form method="post" action="{{ path('app_login') }}" data-turbo="false">
    <div>
        <label for="stubborn">Identifiant</label>
        <input type="text" value="{{ last_username }}" name="stubborn" id="stubborn" required autofocus>
    </div>

    <div>
        <label for="password">Mot de passe</label>
        <input type="password" name="password" id="password" required>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <div>
        <label>
            <input type="checkbox" name="_remember_me"> Se souvenir de moi
        </label>
    </div>

    <div>
        <button type="submit">Connexion</button>
    </div>
</form>
{% endblock %}
