{% extends 'base.html.twig' %}

{% block body %}
<h2>S’inscrire</h2>

{{ form_start(registrationForm) }}
    {{ form_row(registrationForm.stubborn) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.deliveryAddress) }}
    {{ form_row(registrationForm.plainPassword.first) }}
    {{ form_row(registrationForm.plainPassword.second) }}
    {{ form_row(registrationForm.agreeTerms) }}

    <button type="submit">Créer un compte</button>
{{ form_end(registrationForm) }}

<p>Déjà inscrit ? <a href="{{ path('app_login') }}">Se Connecter</a></p>
{% endblock %}
