<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Stubborn{% endblock %}</title>
    <link rel="stylesheet" href="{{ ('styles.css') }}">
      <link rel="icon" type="image/x-icon" href="{{ asset('uploads/images/favicon.png') }}">

   
    <style>
        a.active {
            font-weight: bold;
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <header style="display: flex; justify-content: space-between; align-items: center; padding: 10px;">
        <div>
            <h1 style="margin: 0;">Stubborn</h1>
            <img src="{{asset('uploads/images/logo.png') }}" width="80">
            <small>Don't compromise on your look</small>
        </div>
        <nav>
            {% set route = app.request.attributes.get('_route') %}

            {% if app.user %}
                <a href="{{ path('app_home') }}"
                   class="{{ route == 'app_home' ? 'active' : '' }}">Accueil</a> |
                <a href="{{ path('app_shop') }}"
                   class="{{ route == 'app_shop' ? 'active' : '' }}">Boutique</a> |
                <a href="{{ path('app_cart') }}"
                   class="{{ route == 'app_cart' ? 'active' : '' }}">Panier</a> |
                <a href="{{ path('app_logout') }}">Se déconnecter</a>
            {% else %}
                <a href="{{ path('app_home') }}"
                   class="{{ route == 'app_home' ? 'active' : '' }}">Accueil</a> |
                <a href="{{ path('app_register') }}"
                   class="{{ route == 'app_register' ? 'active' : '' }}">S’inscrire</a> |
                <a href="{{ path('app_login') }}"
                   class="{{ route == 'app_login' ? 'active' : '' }}">Se connecter</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block body %}{% endblock %}
    </main>

    <footer>
        <h2>Stubborn</h2>
        <address>Piccadilly Circus, London W1J 0DA, Royaume Uni</address>
        <mail>stubborn@blabla.com</mail>
        <em>Don't compromise on your look</em>
        {% block footer %}{% endblock %}
    </footer>
</body>
</html>
